{% extends 'base.html' %} {% load custom_filter %} {% block content %}
<div class="box">
  <div class="header">
    <span>
      <h1 class="title">Buscar professor</h1>
      <h2 class="subtitle">
        Busque o professor a partir das key-words dos projetos.
      </h2>
    </span>
    <a class="button is-link " href="{% url 'new_teacher' %}">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
      Adicionar novo professor
    </a>
  </div>

  <form action="{% url 'home' %}" method="GET">
    {% csrf_token %}
    <input
      class="input is-medium is-rounded"
      name="text"
      type="text"
      placeholder="Insert search terms"
      required
    />
  </form>
</div>

{% if data %}
<h1 class="title">Resultado da busca</h1>
{% endif %} {% for item in data %}
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img
            src="https://bulma.io/images/placeholders/96x96.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ item.name }}</p>
      </div>
    </div>
    <div class="content">
      {% for word in item.bag_of_words %}
      <span class="tag is-info">{{ word }}</span>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
